/* Navigation */
.Web-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #4d5ae5;
}
.Studio-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #2e2f42;
}

.nav-menu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}
.nav-menu:hover {
  color: #404bbf;
  text-decoration: underline;
}

.mail-limk {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
.mail-limk:hover {
  color: #404bbf;
}

.phone-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
/* Options for lists and links */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Header */
.header-1-h1 {
  background: #2e2f42;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
}

.header-1-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.header-1-button {
  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
}
.header-1-button:hover {
  background: #404bbf;
}

/* What are we doing */
.work-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}
.work-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
.title-projects {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}

/* Our Team */
.title-title-our {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}

.title-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}

.text-quote {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

/* Portfolio*/

/* Filter */
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d5ae5;
}
.button:active {
  background-color: #404bbf;
  color: #ffffff;
}

/* Project Card */
.titem-project-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}
.subtitle-project-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.web-link-footer {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #4d5ae5;
}

.studio-link-footer {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #f4f4fd;
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
}
.link {
  text-decoration: none;
}
